.gallery {

}

.item {
  width: 322px;
  height: 351px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 100%;
  text-align: center;
  line-height: 1.6;
  background-color: $bgc-item;

  .gallery-title {
    font-family: 'Dancing Script';
    font-weight: 700;
    margin: 25px auto 0;
    padding: 0;
    word-wrap: break-word;
    flex-shrink: 0;
    line-height: 1.2;
    font-size: 2.25rem;
    text-align: center;
  }

  .border {
    display: inline-block;
    height: 3px;
    transform-origin: left center 0;
    transform: rotate(360deg);
    margin: 30px auto 0;
    background-color: $black-color;
  }
  .gallery-text {
    font-family: Roboto, sans-serif;
  }
}

.item-image {
  .gallery-image {
    width: 100%;
    object-fit: cover;
  }
}


@media screen and (max-width: 1199px) {
  .gallery {
    min-height: 464px
  }
  .gallery-title {
    width: 185px;
    margin: 24px 0 0 0;
  }
  .item {
    padding-left: 25px;
    padding-right: 25px;
  }
  .border {
    width: 45px;
  }
}

@media screen and (max-width: 991px) {
  .gallery {
    margin: auto;
    min-height: 1342px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  }
  .gallery-title {
    width: 322px;
    margin-top: 46px;
  }
  .item {
    padding-left: 19px;
    padding-right: 19px;
  }
  .border {
    width: 34px;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item {
    padding-left: 14px;
    padding-right: 14px;
  }
  .gallery-title {
    font-size: 1.5rem;
    width: 512px;
    margin-top: 25px;
  }
  .border {
    width: 32px;
  }
}

@media screen and (max-width: 575px) {
  .item {
    padding-left: 9px;
    padding-right: 9px;
  }
  .gallery-title {
    width: 322px;
    margin-left: 0;
    margin-right: 0;
  }
  .border {
    width: 27px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .gallery {
    width: 720px;
  }
}